.TransactionItem {
  padding: 5px 10px;
  .header {
    font-size: var(--text-s);
    font-weight: 700;
    color: var(--text);
  }
  .item {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    font-size: var(--text-s);
    align-items: center;
    .content {
      .title {
        color: var(--text);
      }
      .subtitle {
        font-weight: normal;
        color: var(--text-sub);
        font-size: var(--text-xs);
      }
    }
    .info {
      color: var(--text);
    }
  }
}
